body {
    font-family: sans-serif;
    position: relative;
    overflow-x: hidden;
}

.head1 {
    background-color: white;
    margin: auto 15rem;
}

.nav-bar {
    margin-top: 1.5rem;
}

nav,
.nav1 {
    display: flex;
    align-items: center;
}

input {
    outline: none;
    border: none;
    border-bottom: #b6b6b7 solid 0.1rem;
}

.img1 {
    margin-right: 30rem;
}

.p1 {
    font-size: small;
    color: #adabac;
    /* margin-left: 1.5rem; */
    padding: 1rem;
    margin-left: 0.1rem;
    border-bottom: 1px solid transparent;
    /* border-style: transparent; */
}

input {
    margin-left: 1.5rem;
}

.p1:hover {
    color: black;
    cursor: pointer;
    transition: 1s;
    border-bottom-color: rgba(17, 17, 17, 0.398);
}

.h1 {
    .h10 {
        font-size: xx-large;
    }
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.line1 {
    height: 6rem;
    width: 0.1rem;
    background-color: #b6b6b7;
    margin-right: 2rem;
}

.main-one {
    display: flex;
    align-items: center;
}

.p2 {
    color: #b6b6b7;
    font-size: small;
    line-height: 1.1rem;
}

.img2 {
    background-size: cover;
    position: absolute;
    left: 67.5rem;
    top: 3rem;
    height: 35rem;
    width: 35rem;
}

.button1 {
    background: #e45851;
    outline: none;
    border: none;
    color: white;
    padding: 0.6rem 1rem;
    font-size: x-small;
    font-weight: bold;
    margin-top: 3.4rem;
}

.button1:hover {
    cursor: pointer;
    background-color: #dc382f;
}

.line2 {
    padding-top: 0.01rem;
    margin-top: 19.85rem;
    height: 0.1rem;
    width: 100rem;
    background-color: #adabac;
}

.head2 {
    display: flex;
    justify-content: space-between;
    margin: auto 15rem;
}

.h2 {
    font-size: smaller;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.cirle1 {
    background-color: #adabac;
    height: 0.3rem;
    width: 0.3rem;
    margin-right: 0.8rem;
    border-radius: 50%;
}

.circles {
    display: flex;
    margin-top: 0.6rem;
}

.p3 {
    font-size: small;
    font-weight: 500;
    color: #999490;
    line-height: 1.2rem;
    /* margin-left: 3rem; */
}

.line3 {
    width: 2rem;
    height: 0.1rem;
    background-color: #ea625c;
    margin-right: 0.8rem;
}

h5 {
    color: #ea625c;
    font-size: 0.7rem;
    font-weight: 800;
}

.main-4 {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.main-4:hover .line3 {
    width: 2.7rem;
    transition: 1s;
    cursor: pointer;
}

.main-4:hover {
    cursor: pointer;
}

.head3 {
    margin: auto 15rem;
    padding-bottom: 6rem;
}

.h10 {
    font-size: xx-large;
    margin-top: 5rem;
}

.line4 {
    height: 5rem;
    width: 0.1rem;
    background-color: #b6b6b7;
    margin-right: 2rem;
}

.button2 {
    background: #e45851;
    outline: none;
    border: none;
    color: white;
    padding: 0.6rem 1rem;
    font-size: x-small;
    font-weight: bold;
    margin-top: 3.4rem
}

.button2:hover {
    cursor: pointer;
    background-color: #dc382f;
}

.img3 {
    height: 28rem;
    width: 18rem;
    margin-left: 15rem;
}

.main-6 {
    margin-top: 10rem;
    display: flex;
    /* align-items: center; */
}

main-5 {
    margin-top: 10rem;
}

.main-7 {
    display: flex;
    align-items: center;
    margin-top: -14rem;
}

.head4 {
    height: 41.45rem;
    width: 100%;
    background-image: url(../media/runners.jpg);
    background-size: cover;
}

.h8 {
    color: white;
    font-size: xx-large;
}

.main-8 {
    margin-left: 45rem;
    padding-top: 12rem;
}

.main-9 {
    display: flex;
    align-items: center;
    margin-top: 2.8rem;
}

.line5 {
    height: 6rem;
    width: 0.1rem;
    background-color: #b6b6b7;
    margin-right: 2rem;
}

.button3 {
    background: #e45851;
    outline: none;
    border: none;
    color: white;
    padding: 0.6rem 1rem;
    font-size: x-small;
    font-weight: bold;
    margin-top: 3rem
}

.button3:hover {
    cursor: pointer;
    background-color: #dc382f;
}