body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.head1 {
    background-color: white;
    margin: auto 15rem;
}

.nav-bar {
    margin-top: 1.5rem;
}

nav,
.nav1 {
    display: flex;
    align-items: center;
}

input {
    outline: none;
    border: none;
    border-bottom: #b6b6b7 solid 0.1rem;
}

.img1 {
    margin-right: 30rem;
}

.p1 {
    font-size: small;
    color: #adabac;
    /* margin-left: 1.5rem; */
    padding: 1rem;
    margin-left: 1rem;
    border-bottom: 1px solid transparent;
    /* border-style: transparent; */
}

input {
    margin-left: 1.5rem;
}

.p1:hover {
    /* color: black; */
    cursor: pointer;
    /* transition: 1s; */
    border-bottom-color: black;
}